/*Rasmus kode*/
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(70,60%,60%);
    margin: 0px;
}

.topnav {
    background-color: hsl(50,40%,50%);
    height: 50px;
    width: 100%
}

.topnav a {
    font-weight: bold;
    position: relative;
    color: black;
    left: 24px;
    padding: 0px 20px;
    text-decoration: none;
    top:30%;
}

.header img {
    position: relative;
    left: 8px;
    top: 3px;
    opacity: 80%;
    height: 120px;
    width: 120px;
}


.header h1{
    position: relative;
    bottom: 23px;
    display: inline;
    font-family: papyrus;
}

.left  {
    width: 25%;
    font-weight: bold;
    border-right: 1px solid black;
    overflow: hidden;
}

ul li {
    position: relative;
    top: 5px;
    left: 4px;
    padding: 5px 0px;
    font-weight: bold;
}

.right-window {
    width: 70%;
}

.topnav-right {
    position: relative;
    top: 30%;
    right: 50px;
    float: right;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.right-window {
    overflow: scroll;
    width: 100%;
}

.small-div {
    display: inline-block;
    width: 27%;
    margin: 1%;
}

.small-picture {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.div1 {
    display: inline-block;
    height: 10%;
    width: 50%;
}
/*Rasmus kode*/