<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/staff-frontpage-stylesheet.css"/>
</head>
<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjilipop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="/">About us</a>
        <a href="/staff">Staff</a>
    </div>
</div>

</body>
</html>