<!-- Tobias kode -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/staff-frontpage-stylesheet.css"/>
</head>
<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjili Pop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="/">About us</a>
        <a href="/staff">Staff</a>
    </div>
</div>

<div class="center">
    <h1>Opening hours:</h1>
    <p>Mon: 9-01</p>
    <p>Tue: 9-02</p>
    <p>Wed: 9-02</p>
    <p>Thur: 9-03</p>
    <p>Fri+Sat: 9-04</p>
    <p>Sun: 9-01</p>
</div>

<div class="center">
    <h1>Contact details</h1>
    <div>
        <p>Café with delicious premises and foreign beers, hot drinks and good food.<br>
            Live music: singer / songwriter showcase every Wednesday at 20.00.22.30<br>
            contact: jacobspeake@hotmail.com</p>
    </div>
</div>

<div class="center">
    <h1>Description</h1>
    <p>The home-like café at Rantzausgade offers charm and personality during weekdays as well as in the weekend. <br>
        We offer delicious homemade food from our Bistro next door. <br>
        We offer everything from brunch, sandwiches, burgers and salat.<br>
        We offer beers, wine and drinks from our wide selection of beverages. <br>
        We also offer soft-drinks and a very well made cup of coffee (refill on regular black coffee only 10 dkk).<br>
        Tjili Pop is both a café and a pub. It's the kind of place where you greet complete strangers and find your way to the bar due to the homely atmosphere.<br>
        You'll find both regular customers, students and people having a great time with friends.<br>
        If you are interested in hosting a get together, a party or dining with your friends, please do not hesitate to call us at +45 35 35 90 20.</p>
</div>

<div class="center">
    <h1>Live music</h1>
    <p>"Speake's Corner" songwriter showcase every Wednesday from 8.00-10.30 pm (free entry).
        Usually 4 acts playing 25-30 min. followed by a short open mic. session.
        Weekly updated programme at our facebook wall. Musical host & sound engineer: Jacob Speake
        www.facebook.com/jacobspeakemusic
        Skriv til jacobspeake@hotmail.com hvis du vil spille et 25 min. sæt til vores sangskriver-aften om onsdagen.
        Til open mic. kan man som udgangspunkt spille 1-2 numre, hvis man møder op ved 21-tiden og skriver sig på listen.</p>
</div>

<div class="center">
    <h1>GEAR</h1>
    <p>Vi har PA/mixer, 3 mikrofoner/stativer/kabler,
        keyboardstativ,
        Maestro guitarforstærker,
        Laney-basforstærker,
        guitarstativ og lidt trommegear (stortromme, pedal, gulvtam, trommestol, bækkenstativ og lilletrommestativ)</p>
</div>

<div class="center">
    <h1>Adresse</h1>
    <p>Rantzausgade 28, 2200 København</p>
</div>

</body>
</html>
<!-- Tobias kode -->