<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="Stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/staff-frontpage-stylesheet.css"/>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjili Pop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="/">About us</a>
        <a href="/staff">Staff</a>
    </div>
</div>
<!--Overskrift-->
<div class="center">
    <h1>Events</h1>
</div>
<!--Overskrift-->
<div class="center">
    <h2 STYLE="border: 1px solid black">Kommende</h2>
</div>

<!--billeder med tekst-->
<div class="center">
    <div class="small-div" th:each="event : ${events}">
        <div class="small-picture">
            <img th:src="${event.getImageURL()}" height="90%" width="90%">
        </div>

        <div class="div1">
            <h4 th:text="${event.getName()}">Overskrift</h4>
            <p th:text="${event.getDate()}">this is a date</p>
            <p th:text="${event.getTime()}"></p>
            <p th:text="${event.getInfo()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus non felis at nulla aliquet vehicula eget vel turpis.
                Suspendisse velit mi, consequat non ligula et, finibus placerat tellus. </p>
        </div>
    </div>
</div>


</body>
</html>