<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/staff-frontpage-stylesheet.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjilipop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="/">About us</a>
        <a href="/staff">Staff</a>
    </div>
</div>
<div class="master-center" style="margin-top: 10%; margin-bottom: 10%">
    <div class="reservation-employee-div">
        <div>
            <div id="edit-picture">
                <img id="add-picture" src="https://iconarchive.com/download/i95384/iconsmind/outline/Add.ico" width="90%" height="90%">
            </div>
            <div class="small-div">
                <form>
                    <label>Event name:</label><br>
                    <input type="text" id="first-name" class="form-space" name="Event name"><br>
                    <label>Event date and time:</label><br>
                    <input type="datetime-local" id="telephone" class="form-space" name="Event time"><br>
                    <textarea name="message" class="form-space" style="width:150px; height:100px;"></textarea><br>
                    <input type="submit" class="form-space" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>