<!-- Tobias kode -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/staff-frontpage-stylesheet.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjili Pop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="/">About us</a>
        <a href="/staff">Staff</a>
    </div>
</div>
<div class="center">
    <h1 class="b-color-grey">About us</h1>
</div>

<div class="center">
    <div class="picture">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/160107100400-monkey-selfie.jpg" width="90%" height="90%">
    </div>

    <div class="div1">
        <h2>Overskrift</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus non felis at nulla aliquet vehicula eget vel turpis.
            Suspendisse velit mi, consequat non ligula et, finibus placerat tellus.
            Quisque at magna id massa fermentum aliquam.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Sed efficitur.</p>
    </div>
</div>

<div class="center">
    <div class="div1">
        <h2>Overskrift</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus non felis at nulla aliquet vehicula eget vel turpis.
            Suspendisse velit mi, consequat non ligula et, finibus placerat tellus.
            Quisque at magna id massa fermentum aliquam.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Sed efficitur.</p>
    </div>

    <div class="picture">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/160107100400-monkey-selfie.jpg" width="90%" height="90%">
    </div>

</div>

<div class="center">
    <div class="picture">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/160107100400-monkey-selfie.jpg" width="90%" height="90%">
    </div>

    <div class="div1">
        <h2>Overskrift</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus non felis at nulla aliquet vehicula eget vel turpis.
            Suspendisse velit mi, consequat non ligula et, finibus placerat tellus.
            Quisque at magna id massa fermentum aliquam.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Sed efficitur.</p>
    </div>
</div>

</body>
</html>
<!-- Tobias kode -->