<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="menu-stylesheet.css">
</head>
<body>
    <header>
        <h1>@Tjilipop</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="#menu>Menu</a></li>
                <li><a href="#events>Events</a></li>
                <li><a href="#reservation">Reservation</a></li>
                <li><a href="#about-us">About us</a></li>
                <li><a href="#staff">Staff</a></li>
            </ul>
        </nav>
    </main>
    <footer>
    </footer>
</body>
</html>