<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="menu-stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/staff-frontpage-stylesheet.css"/>
</head>
<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjili Pop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="#aboutus">About us</a>
        <a href="#about">Staff</a>
    </div>
</div>
    <header>
        <h1>@Tjilipop</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
                <li><a href="events">Events</a></li>
                <li><a href="#reservation">Reservation</a></li>
                <li><a href="#about-us">About us</a></li>
                <li><a href="#staff">Staff</a></li>
            </ul>
        </nav>
    </main>
    <footer>
    </footer>
</body>
</html>