<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link type="text/css" rel="stylesheet" href="/staff-reservation-requests-stylesheet.css"/>
</head>
<body>
<header class="header">
    <img alt="Tjilipop-logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjilipop</h1>
</header>
<!--<main>-->
    <div class="topnav">
        <a href="#menu">Menu</a>
        <a href="#events">Events</a>
        <a href="#reservation">Reservation</a>
        <a href="#contact">Contact</a>
        <div class="topnav-right">
            <a href="#aboutus">About us</a>
            <a href="#about">Staff</a>
        </div>
    </div>
    <div class="container">
        <div class="left">
            <ul>
                <li><a href="#reservation-requests">Reservation requests</a></li>
                <li><a href="#edit-events">Edit Events</a></li>
                <li><a href="#edit-menu">Edit Menu</a></li>
                <li><a href="#profile-settings">Profile settings</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="request">
                <table>
                    <tr>
                        <th scope="row">Name: </th>
                        <td rowspan="8" id="buttons-cell">
                            <button>Accept</button>
                            <button>Reject</button>
                            <button>Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>hej</td>
                    </tr>
                    <tr>
                        <th scope="row">Email: </th>
                    </tr>
                        <td>hej</td>
                    <tr>
                        <th scope="row">Amount of people: </th>
                    </tr>
                    <tr>
                        <td>hej</td>
                    </tr>
                    <tr>
                        <th scope="row">Additional information:</th>
                    </tr>
                    <tr>
                        <td>hej</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<!--</main>-->
<footer>
</footer>
</body>
</html>