<!--Rasmus kode-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link type="text/css" rel="stylesheet" href="/staff-reservation-requests-stylesheet.css"/>
</head>
<body class="krop">
<header class="header">
    <img alt="Tjilipop-logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjili Pop</h1>
</header>
<!--<main>-->
    <div class="topnav">
        <a href="/menu">Menu</a>
        <a href="/events">Events</a>
        <a href="/reservation">Reservation</a>
        <a href="/contact">Contact</a>
        <div class="topnav-right">
            <a href="/">About us</a>
            <a href="/staff">Staff</a>
        </div>
    </div>
    <div class="container">
        <div class="left">
            <ul>
                <li><a href="/staff/reservation-requests">Reservation requests</a></li>
                <li><a href="/staff/edit-events">Edit Events</a></li>
                <li><a href="/staff/edit-menu">Edit Menu</a></li>
                <li><a href="/staff/profile-settings">Profile settings</a></li>
                <li><a href="/staff/invalidate-session">Log out</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="reservation" th:each="reservation : ${reservations}">
                <table>
                    <tr>
                        <th scope="row">Name: </th>
                        <td th:text="${reservation.getFullname()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Date: </th>
                        <td th:text="${reservation.getDate()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Time: </th>
                        <td th:text="${reservation.getTime()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone: </th>
                        <td th:text="${reservation.getTelephone()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Email: </th>
                        <td th:text="${reservation.getEmail()}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Number of guests: </th>
                        <td th:text="${reservation.getNum_of_people()}"></td>
                    </tr>
                    <tr>
                        <th >Additional information:</th>
                        <td th:text="${reservation.getMessage()}"></td>
                    </tr>
                </table>
                <div class="buttons">
                    <button>Accept</button>
                    <button>Reject</button>
                    <button>Edit</button>
                </div>
                </div>

            </div>
        </div>
<footer>
</footer>
</body>
</html>
<!--Rasmus kode-->