<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link type="text/css" rel="stylesheet" href="/staff-event-settings-stylesheet.css"/>
</head>
<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjili Pop</h1>
</header>
<div class="topnav">
    <a href="/menu">Menu</a>
    <a href="/events">Events</a>
    <a href="/reservation">Reservation</a>
    <a href="/contact">Contact</a>
    <div class="topnav-right">
        <a href="/">About us</a>
        <a href="/staff">Staff</a>
    </div>
</div>

<div class="container">
    <div class="left">
        <ul>
            <li><a href="/staff/reservation-requests">Reservation requests</a></li>
            <li><a href="/staff/edit-events">Edit Events</a></li>
            <li><a href="/staff/edit-menu">Edit Menu</a></li>
            <li><a href="/staff/profile-settings">Profile settings</a></li>
            <li><a href="/staff/invalidate-session">Log out</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="edit-menu-item" th:if="${event == null}">
            <form action="/staff/edit-events/event-settings" method="POST" class="staff-event-settings">
                <label for="name1">Name:</label>
                <input id="name1" class="name" name="name" type="text" required>
                <label for="procent1">Procent: </label>
                <input id="procent1" class="procent" name="procent" type="text" placeholder="dd-mm-yyyy">
                <label for="origin1">Origin: </label>
                <input id="origin1"class="origin" name="origin" type="text">
                <label for="info1">Description: </label>
                <textarea id="info1"name="info" class="info" style="width:200px; height:100px;">
                    <span th:text="${menuItem.getDescription()}" th:remove="tag"></span>
                </textarea>
                <label for="url1">Enter a https://(URL) for an image on the web:</label>
                <input id="url1" type="url" name="imageURL" class="url"
                       placeholder="Enter-image-URL"
                       pattern="https://.*" size="30">
                <button type="submit">Confirm</button>
            </form>
        </div>
        <div class="staff-event-settings" th:unless="${event == null}">
            <form action="/staff/edit-events/event-settings" method="POST" class="staff-event-settings">
                <label for="id2">ID: </label>
                <input id="id2" type="text" name="id" th:value="${event.getId()}" readonly>
                <label for="name2">Name:</label>
                <input id="name2" class="name" name="name" type="text" th:value="${event.getName()}" required>
                <label for="date2">Date:</label>
                <input id="date2" class="date" name="date" type="date" th:value="${event.getDate()}" placeholder="dd-mm-yyyy">
                <label for="time2">Time: </label>
                <input id="time2" class="time" name="time" type="time" th:value="${event.getTime()}" >
                <label for="info2">Description: </label>
                <textarea id="info2" name="description" th:text="${event.getInfo()}" class="info" style="width:200px; height:100px;">
                </textarea>
                <label for="url2">Enter a https://(URL) for an image on the web:</label>
                <input id="url2" type="url" th:value="${event.getImageURL()}" name="imageURL" class="url"
                       placeholder="Enter-image-URL"
                       pattern="https://.*" size="30">
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>