<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link type="text/css" rel="stylesheet" href="/staff-edit-events-stylesheet.css"/>
</head>
<body>
<header class="header">
    <img alt="Tjilipop logo" src="https://i.imgur.com/q9EgVdo.png">
    <h1>Tjilipop</h1>
</header>
<div class="topnav">
    <a href="#menu">Menu</a>
    <a href="#events">Events</a>
    <a href="#reservation">Reservation</a>
    <a href="#contact">Contact</a>
    <div class="topnav-right">
        <a href="#aboutus">About us</a>
        <a href="#about">Staff</a>
    </div>
</div>
<div class="container">
    <div class="left">
        <ul>
            <li><a href="/staff/reservation-requests">Reservation requests</a></li>
            <li><a href="/staff/edit-events">Edit Events</a></li>
            <li><a href="/staff/edit-menu">Edit Menu</a></li>
            <li><a href="/staff/profile-settings">Profile settings</a></li>
            <li><a href="/staff/invalidate-session">Log out</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="small-div" th:each="menuItem : ${menuItems}">
            <!-- denne gør at de står ved siden af hinnanen-->
            <div class="small-picture">
                <img th:src="${menuItem.getImageURL()}" height="200px" width="150px">
            </div>
            <div class="div1" style="width: 0%">
                <p>id: </p>
                <p th:text="${menuItem.getId()}">id: 1</p>
                <p th:text="${menuItem.getName()}" >Name</p>
                <p th:text="${menuItem.getProcent()}">%</p>
                <p th:text="${menuItem.getOrigin()}">Origin</p>
            </div>
            <p th:text="${menuItem.getDescription()}"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas sit amet erat vitae purus auctor luctus.
                Nunc ac semper tellus. Etiam ac metus at ex faucibus interdum non quis est.
                Nulla laoreet ante eu justo luctus gravida. Aenean at metus felis.
                Donec mattis purus sed massa iaculis, id luctus mi.</p>
        </div>
    </div>
</div>
<footer>
</footer>
</body>
</html>